* { font-family: arial, sans-serif; }
body {
  background: #000;
  color: #fff;
  text-align: center;
}

img {
	display: block;
	border-radius: 15%;
	float: left;
	margin-right: 1em;
}

.imgradar {
	border-radius: 2%;
	display: block;
	margin: 0 auto;

}

#radarweather {
	display: flex;
	justify-content: center;
	align-items: center;
	max-height: 80%;
}

#currentweather {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*
.loader {
  margin: auto;
  border: 10px solid #EAF0F6;
  border-radius: 50%;
  border-top: 10px solid #FF7A59;
  width: 100px;
  height: 100px;
  animation: spinner 3s linear infinite; */
  /* display: none; */
/*
}
*/

/*
@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */

/* https://loading.io/css/ */
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 45px;
    left: 45px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 90px;
    height: 90px;
    opacity: 0;
  }
}
